{% extends 'base.html' %}
{% load static %}

{% block body %}
<div class='position-relative d-flex justify-content-center'>
  <img class='mb-4' id='bgimg' src='/static/img/background.jpg'>
  <h1 class='display-2' id='main_title'>MOVIE REVIEW</h1>
</div>
<div class='container'>
  <div class='row'>
    <div class='col-12 text-center'>
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">TITLE</th>
            <th scope='col'>DATE</th>
          </tr>
        </thead>
        <tbody style="font-family: 'Sunflower', sans-serif;">
          {% for review in reviews %}
          <tr>
            <th scope="row">{{review.pk}}</th>
            <td><a href='/community/review_detail/{{review.pk}}'>{{review.title}}</a></td>
            {% if review.update_at %}
              <th scope="row">{{review.updated_at}}</th>
            {% else %}
              <th scope="row">{{review.created_at}}</th>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}